@use '../../../../styles/mobile' as *;
@use '../../../../styles/variables' as *;

.auth-back-link {
  display: flex;
  align-items: center;
  gap: var(--pas-2);
  color: var(--encre-3);
  text-decoration: none;
  font-size: var(--texte-md);
}

:host(.auth-back-link--desktop-only) {
  display: none;

  @include desktop {
    display: block;
    margin-bottom: $spacing-lg;
  }
}
