@use 'variables' as *;
@use 'mobile' as *;
@use 'auth';

* {
  box-sizing: border-box;
}

.container {
  padding: $spacing-sm;

  @include tablet {
    padding: $spacing-md;
  }

  @include desktop {
    padding: $spacing-lg;
  }
}
