@use '../../../../styles/variables' as *;
@use '../../../../styles/mobile' as *;

:host {
  display: flex;
  align-items: center;
  gap: var(--pas-4);
  background: var(--navy-nuit);
  padding: var(--pas-4) var(--pas-5);

  @include desktop {
    display: none;
  }
}

.auth-mobile-nav__back {
  display: flex;
}

.auth-mobile-nav__title {
  font-size: var(--texte-2xl);
  font-weight: 700;
  color: var(--surface);
}
